<div class="input-daterange booking-dates">
    <div class="col-lg-2 form-group" style="margin-top: 10px;">
        <label for="CheckinDate">Check In</label>
        <input id="CheckinDate" type="text" class="form-control datepicker" style="width:100%" required 
                ng-model="model.checkinDate"/>
    </div>
    <div class="col-lg-2 form-group" style="margin-top: 10px;">
        <label for="CheckoutDate">Check Out</label>
        <input id="CheckoutDate" type="text" class="form-control datepicker" style="width:100%" required 
               ng-model="model.checkinDate"/>
    </div>
    <div class="col-lg-2 form-group" style="margin-top: 10px;">
        <label for="NumberOfAdults">Number of Adults</label>
        <input id="NumberOfAdults" type="number" class="form-control" min="1" max="4" style="width:100%"
               required ng-model="model.numberOfAdults" />
    </div>
    <div class="col-lg-2 form-group" style="margin-top: 10px;">
        <label for="NumberOfChildren">Number of Children</label>
        <input id="NumberOfChildren" type="number" class="form-control" min="1" max="4" style="width:100%"
               required ng-model="model.numberOfChildren" />
    </div>
    <div class="col-lg-2 form-group" style="margin-top: 10px;">
        <label for="NumberOfRooms">Number of Rooms</label>
        <input id="NumberOfRooms" type="number" class="form-control" min="1" max="3" style="width:100%"
               required ng-model="model.numberOfRooms" />
    </div>

    <div class="col-lg-12 form-group" style="margin-top: 10px; margin-bottom: 10px; align-self: center">
        <input id="" type="submit" style="letter-spacing: 2px" value="Book Now"
               class="btn btn-default" />
    </div>
    <div class="col-lg-12 form-group">
        <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="roomType.Name" name="Name">
            <option selected="" value=""></option>
            <option [ngValue]="roomType.Name" *ngFor="let roomType of roomList">
                {{roomType.Name}}
            </option>
        </select>
    </div>
   



    <div class="col-md-12" style="margin-top: 30px; text-align: center">
        <input type="submit" id="next1" style="letter-spacing: 2px"
               class="btn btn-default" value="Submit" (click)="onSubmit()">
    </div>
</div>
